<%- include('partials/_header.ejs') %> 
<%- include('css/menuCss.html') %>
<%- include('partials/_navBar.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card cont">
                <div class="box">
                    <h1 class="mainTitle">Classes</h1>
                    <div class="container-fluid">
                        <div class="row">
                            <% classData.forEach(function(user){ %>
                                <div class="col-md-4">
                                    <div class="card bg-dark mb-3 text-left text-white classCard"
                                         style="cursor: pointer;"
                                         onclick="location.href='<%= `/classroom/${idType}/${userId}/${user.c_Id}/work` %>'">
                                        <img class="class-img-top classImg"
                                        <% if(user.titleImg === 1){ %>
                                             src="https://i.ibb.co/nMYBTzF/classroom-Title1.jpg"
                                        <% } else if(user.titleImg === 2){ %>
                                             src="https://i.ibb.co/8XkLWS2/classroom-Title2.jpg"
                                        <% } else if(user.titleImg === 3){ %>
                                             src="https://i.ibb.co/z8nk0ZY/classroom-Title3.jpg"
                                        <% } else if(user.titleImg === 4){ %>
                                             src="https://i.ibb.co/pQMqprH/classroom-Title4.jpg"
                                        <% } else if(user.titleImg === 5){ %>
                                             src="https://i.ibb.co/CzVDSM2/classroom-Title5.jpg"
                                        <% } else if(user.titleImg === 6){ %>
                                             src="https://i.ibb.co/sq1xDPk/classroom-Title6.jpg"
                                        <% } else if(user.titleImg === 7){ %>
                                             src="https://i.ibb.co/zWgntdn/classroom-Title7.jpg"
                                        <% } else if(user.titleImg === 8){ %>
                                             src="https://i.ibb.co/vqBm1tg/classroom-Title8.jpg"
                                        <% } else{ %>
                                             src="https://i.ibb.co/pdqFQBZ/classroom-Title9.jpg"
                                                <% } %>
                                             alt="class-title-img">
                                        <div class="card-body">
                                            <h1 class="card-title"><%= user.Title %></h1>
                                            <h5 class="card-text"><%= user.createdBy %></h5>
                                            <% let date = new Date(user.createdOn) %>
                                            <h6 class="card-text text-muted">Created
                                                On <%= `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}` %></h6>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                            <% if(instruct){ %>
                                <div class="card bg-success mb-3 text-center text-white addCard"
                                     onclick="location.href='<%= `/add/class/teach/${userId}` %>'">
                                    <div class="card-body">
                                        <h1 class="card-title">+</h1>
                                        <h1 class="card-title">Add Class</h1>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer.ejs') %>







