                        <p class="text-muted"> Please enter new student's details</p> 
                        <input type="hidden" name="id" value=<%= student.s_Id %>>
                        <input type="text" name="name" placeholder="Enter student name (eg: Soham Gupta)" value='<%= student.Name %>'> 
                        <input type="text" name="class" placeholder="Enter student class (eg: 12C, 9C)" value=<%= student.Class %>> 
                        <input type="email" name="email" placeholder="Enter Student email (eg: 456823@pp.balbharati.org)" value=<%= student.Email %>> 
                        <input type="text" name="username" placeholder="Set student username (eg: SG8329C)" value=<%= student.Username %>> 
                        <input type="text" name="password" placeholder="Set student password (eg: 328654 )" value=<%= student.Password %>> 
                        