<%- include('partials/_header.ejs') %> 
     <%- include('assets/addFormCss.html') %>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <form action="/updateStudent" method="POST" class="box">
                        <h1>Update <%= student.Name %>'s Id</h1>
                        <%- include('partials/_studentForm.ejs') %>
                        <input type="submit"  value="Update Student Id">
                    </form>
                </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.ejs') %> 